<ion-toolbar class="custom-header">
  <ion-buttons slot="start">
    <ion-menu-button menu="first" color="primary"></ion-menu-button>
  </ion-buttons>
  
  <ion-title class="user-name" [innerHTML]="agent.nom + ' (' + agent.fonction + ')'"></ion-title>
  <ion-buttons slot="end">
    <button class="logout-button" (click)="presentLogoutAlert()">
      <ion-icon name="log-out-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
<ion-tabs>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="today" (click)="navigateToLeft()" [class.tab-selected]="activeTab === 'today'">
      <ion-icon name="today"></ion-icon>
      <ion-label>Aujourd'hui</ion-label>
    </ion-tab-button> -->
    
    <!-- <ion-tab-button tab="scan" (click)="navigateToRight()" [class.tab-selected]="activeTab === 'scan'">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
