<ion-content class="menu-content">
  <div class="header-section">
    <h1>Votre repas du Jour</h1>
    <p class="subtitle">Découvrez votre délicieux repas préparé avec soin</p>
  </div>

  <div class="repas-container">
    <ng-container *ngIf="repas && (repas.lib_menu || repas.description); else noRepas">
      <ion-card class="repas-card" style="max-width: 100%; width: 90%">
        <ion-card-header>
          <ion-card-title class="repas-title">
            <p><strong style="color: #2c3e50;">Repas : </strong> {{repas.lib_menu}}</p>
            <p>
              <strong style="color: #2c3e50;">Reception : </strong>
              <span style="font-size: 1rem;" [ngClass]="repas.cantAgentWithLib.flag_recu != null ? 'text-green' : 'text-red'">
                {{ repas.cantAgentWithLib.flag_recu != null ? 'Reçu' : 'Non reçu' }}
              </span>
            </p>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="repas-description"><strong style="color: #2c3e50;">Description : </strong> {{repas.description ?? 'N/A' }}</p>
          <ion-button
            expand="block"
            color="primary"
            class="order-button"
            [disabled]="repas.cantAgentWithLib.flag_recu != null"
            (click)="takeMeal()">
            <ion-icon name="restaurant-outline" slot="start"></ion-icon>
            Prendre
          </ion-button>
       
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-template #noRepas>
      <div class="no-repas-message">
        <ion-card class="empty-card">
          <ion-card-content>
            <div class="empty-content">
              <ion-icon name="restaurant-outline" color="medium" size="large"></ion-icon>
              <h3>Aucun repas pour vous aujourd'hui</h3>
              <p>Il n'y a pas de repas ni de QR code disponible pour aujourd'hui.</p>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-template>
  </div>
</ion-content>